//page styling here

.add-margin--bottom {
  margin-bottom:$margin-bottom--small;
}

.h2__margin-bottom--small {
  @extend .add-margin--bottom;
}

.logos-max-width {
  @media only screen and (min-width:$bp-large) {
    max-width:75%;
  }
  margin-left: auto;
  margin-right: auto;
}

.travel-section {
  &__container {
    h4 {
      color: #00338d;
      font-size: 18px;
      font-weight:400;
      margin-bottom: 15px;
    }
    p {
      @media only screen and (min-width:$bp-large) {
        max-width:690px;
      }
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__icon-container { margin-bottom:12px; }
  &--intro {
    padding-top:0;
    padding-bottom:0;
  }
  &__image {
    width:100%;
    @extend .add-margin--bottom;
    @media only screen and ($bp-medium) {
       max-width:300px;
    }
  }
  &__logo-image {
    @extend .add-margin--bottom;
  }

  &--wellness {
    padding-top:0;
    .row {
      @extend .logos-max-width;
      @media only screen and (min-width:$bp-medium) {
        margin-bottom:15px;
      }

    }
    .col-sm-4 { text-align:center; }
  }
  &--shopping {
    padding-top:0;
    .row {
      @extend .logos-max-width;
      @media only screen and (min-width:$bp-medium) {
        margin-bottom:25px;
      }
    }
  }
}


@media only screen and (min-width:$bp-medium) {

  [src*="petro-logo"] { margin-bottom:10px; }

  img[src*="sky-zone-logo"] {
    margin-top:-10px;
  }

  img[src*="telus-logo"] {
    margin-top:12px;
  }

  img[src*="the-source-logo"] {
    margin-top:-12px;
  }

}