<div class="travel-section__container">
  <section class="travel-section--intro margin-top--add">
    <div class="wrapper">
      <div class="travel-section__icon-container text--center">
        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="41" height="41"
           viewBox="-1933.5 46.8 64 64" style="enable-background:new -1933.5 46.8 64 64;" xml:space="preserve">
        <style type="text/css">
          .plane-icon-0{fill:#00338d;}
        </style>
        <g>
          <path class="plane-icon-0" d="M-1871.8,47l-6.8,3.1c-0.4,0.2-0.8,0.5-1.2,0.8l-11,11l-38-4.6c-0.7-0.1-1.4,0.2-1.9,0.6l-2.1,2.1
            c-1.1,1.1-0.8,3,0.7,3.7l27.2,12.2l-7.8,7.8h-13.7c-0.6,0-1.2,0.2-1.6,0.7l-1.1,1.1c-1.1,1.1-0.8,3,0.7,3.7l11.5,4.9l4.9,11.5
            c0.6,1.5,2.5,1.8,3.7,0.7l1.1-1.1c0.4-0.4,0.7-1,0.7-1.6V90.1l7.8-7.8l12.2,27.2c0.6,1.4,2.5,1.8,3.7,0.7l2.1-2.1
            c0.5-0.5,0.7-1.2,0.6-1.9l-4.6-38l11-11c0.3-0.3,0.6-0.7,0.8-1.2l3.1-6.8C-1869,47.8-1870.4,46.3-1871.8,47z"/>
        </g>
        </svg>

      </div>
      <div class="margin-bottom--add">
        <h2 class="h2--enlarge h2__margin-bottom--small">Travel.</h2>
        <p class="text--center">Most of us admit that we don't do it nearly enough. Getting away for some rest and relaxation or an exciting adventure is often the perfect antidote for relieving stress and for personal growth.</p>
        <p class="text--center">With that in mind, what better way to start off the year than by booking a well-deserved vacation? CAA Rewards helps you save on travel and travel-related activities, so pledge to make yourself a priority this year and book now.</p>
      </div>

      <div class="row margin-bottom--add">
        <div class="col-sm-4 margin-bottom--add-mobile">
          <img src="https://www.caasco.com/~/media/D0DC8731082046C59F207716804D95DA.ashx" alt="View of a body of water from within a cave." class="travel-section__image">
          <img src="https://www.caasco.com/~/media/B8DA7AE522454F11B8ECBAD13E5F601B.ashx" width="96" height="32"  alt="CAA Travel logo" class="travel-section__logo-image">
          <h4>CAA Travel Consultants.</h4>
          <p>Get all the help you need planning and booking that perfect getaway with an expert CAA Travel Consultant. They've got destination expertise, access to the top travel partners from around the globe and the inside scoop on deals that often aren't shared with the public or available online. </p>
          <a href="" class="atom-btn-sml"><span>Find a Consultant</span></a>
        </div>
        <div class="col-sm-4 margin-bottom--add-mobile">
          <img src="https://www.caasco.com/~/media/2DAAFA23C55E4081B3BE8BECB9A282F7.ashx" alt="A family handing in their hotel keys to the concierge at the front desk." class="travel-section__image">
          <img src="https://www.caasco.com/~/media/661E76F96E7E42979C81FE2FB8DA44D2.ashx" width="180" height="36" alt="Best Western logo" class="travel-section__logo-image">
          <h4>Best Western.</h4>
          <p>This trusted and familiar hotel and resort chain has revamped, expanded and elevated its brand to satisfy every taste and every budget of traveller. And all CAA Members get hotel discounts of up to 15% and even more buy joining the CAA Preferred<sup>SM</sup> Best Western Rewards<sup>&reg;</sup> Program.</p>
          <a href="" class="atom-btn-sml"><span>See Deals</span></a>
        </div>
        <div class="col-sm-4">
          <img src="https://www.caasco.com/~/media/FFCE414736D44550A447C2644CEA8905.ashx" alt="The back of a blue car with a brown luggage and a blueish gray backpack leaning against it." class="travel-section__image">
          <img src="https://www.caasco.com/~/media/4E466367F4D34FF0A68D03FBE8C755B9.ashx" width="187" height="36" alt="Park'N Fly logo" class="travel-section__logo-image">
          <h4>Park'N Fly.</h4>
          <p>Stress-free airport parking is definitely a nice way to start off your vacation. CAA Members can always save on Park'N Fly, plus enjoy a free shuttle to and from their airport terminal 24/7.</p>
          <a href="" class="atom-btn-sml"><span>See Savings</span></a>
        </div>
      </div>
      <div class="row margin-bottom--add-desktop">
        <div class="col-sm-4 margin-bottom--add-mobile">
          <img src="https://www.caasco.com/~/media/4F8BFEFB8B654553BC2A4437B1561764.ashx" alt="Hotel room door open with a person stretching their arms up high by a window filled bright orange sun light." class="travel-section__image">
          <img src="https://www.caasco.com/~/media/D9735C8823834B3AB2B671F2B99FDA4D.ashx" width="107" height="41" alt="Marriott logo" class="travel-section__logo-image">
          <h4>Marriot Hotels and Resorts.</h4>
          <p>Each Marriott Hotel and Resort offers accommodations to suit both your needs and style – offering consistent quality and genuine care for all guests. With over 4,000 hotels in more than 100 countries, you'll be sure to find a Marriot to rest easy.</p>
          <a href="" class="atom-btn-sml"><span>See Promotions</span></a>
        </div>
        <div class="col-sm-4 margin-bottom--add-mobile">
          <img src="https://www.caasco.com/~/media/EECB96D4DDFC4E529F27B639B1AFA53B.ashx" alt="A black car being filled up with gas by a person wearing a grey spring jacket." class="travel-section__image">
          <img src="https://www.caasco.com/~/media/09961F40991641C49C0401CD538C3352.ashx" width="63" height="46" alt="Petro-points&trade; logo" class="travel-section__logo-image">
          <h4>Petro-Points<sup>&trade;</sup>.</h4>
          <p>We hope you plan on road-tripping this year. Why? Rack up the Petro-Points and you'll get 20% more points when you link your CAA Membership card and your Petro-Points card. You can then use those extra points to supplement your next road trip, get other rewards or partner discounts.</p>
          <a href="" class="atom-btn-sml"><span>Link Cards</span></a>
        </div>
        <div class="col-sm-4 margin-bottom--add-mobile">
          <img src="https://www.caasco.com/~/media/B07952BE1AB14287A463051098AF3CAA.ashx" alt="A car key is being inserted into a black car door by a person wear a blue jean shirt." class="travel-section__image">
          <img src="https://www.caasco.com/~/media/841797132DAC445AAB9B23B464F5A2BE.ashx" width="157" height="31" alt="Enterprise logo" class="travel-section__logo-image">
          <h4>Enterprise.</h4>
          <p>Need copy for this. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pulvinar congue ullamcorper. Etiam a aliquam urna. Pellentesque commodo metus massa, nec imperdiet lacus interdum ac. Proin imperdiet leo in nibh pretium ornare.</p>
          <a href="" class="atom-btn-sml"><span>Learn More</span></a>
        </div>
      </div>
    </div>
  </section><div class="atom-bg-grey">
  <section class="travel-section--wellness text--center">
      <div class="wrapper">
        <div class="travel-section__icon-container margin-top--add">
          <?xml version="1.0" encoding="utf-8"?>
          <!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg version="1.1" id="icon_outline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
             y="0px" width="37" height="43" viewBox="0 0 384.8 446.6" style="enable-background:new 0 0 384.8 446.6;" xml:space="preserve">
          <style type="text/css">
            .meditate-icon-0{fill:#00338d;}
          </style>
          <g>
            <circle class="meditate-icon-0" cx="192.4" cy="63.3" r="63.3"/>
            <path class="meditate-icon-0" d="M378.8,312L378.8,312c-10.8-11-54.8-59-55.2-59.4c-2.9-4.2-34.3-87.7-35.9-90.9c-0.6-1.2-7.9-17.1-26.8-17.1
              c0,0-137.4,0-137.5,0c-12,0.3-23.3,7.8-27.6,19.8l-34.2,87.1L5.9,312.1c-7.4,7.5-8,19.5-1.2,27.8c7.3,8.8,20.4,10.1,29.3,2.8
              c20.8-17.2,57.9-47.3,68.9-62.2c0,0,19.6-34.7,21-37.5c6.6,36.2-2,64.7-9.5,76.6C103.7,336.4,35.8,359,28.3,399
              c-3,15.8,6.8,47.6,47.9,47.6h41.5c-5-7.6-9.6-19.1-8.5-32.9c1-11.5,5.9-24.8,19.3-35.7c27.3-22.4,74.9-21,127.2-22.8
              c3.6-0.1,6.7,2.7,6.8,6.4c0.1,3.4-2.3,6.3-5.6,6.8l0,0c-20.6,3-75.3,11.6-88.9,16.6c-17.9,6.6-29.2,16.6-29.8,30.8
              c-0.8,15.9,14.8,28.1,38.5,30.8h132c41.1,0,50.9-31.8,47.9-47.6c-7.5-40-75.4-62.7-86.1-79.5c-7.5-11.9-16.1-40.4-9.5-76.6
              c6.8,13.2,13.3,24.9,21,37.5c10.8,14.7,50.5,47,68.9,62.2c8.1,6.7,20.2,6.3,27.9-1.2C386.8,333.3,386.8,320.2,378.8,312z"/>
          </g>
          </svg>
        </div>
        <h2 class="h2--enlarge h2__margin-bottom--small">Wellness.</h2>
        <p class="text--center">If you've made a promise to make yourself a priority this year, don't forget to put routine health check-ups on your list, like a hearing test or an eye exam.</p>
        <p class="text--center">Or maybe you've already decided how to prioritize yourself, like starting to eat healthier, be more active or simplify and declutter your life. </p>
        <p class="text--center margin-bottom--add">CAA Rewards can help you save on some of the products and services that will help you achieve these wellness goals from some of our valued partners. </p>
        <div class="row">
          <div class="col-sm-4"><img src="https://www.caasco.com/~/media/D7B9A5818BD1429FB4CDB6C739E6EC61.ashx" width="138" height="52" alt="Connect Hearing logo" class="travel-section__logo-image"></div>
          <div class="col-sm-4"><img src="https://www.caasco.com/~/media/6FA684645C5149DB83C2C7692B8047CD.ashx" width="224" height="22" alt="Lens Crafters logo" class="travel-section__logo-image"></div>
          <div class="col-sm-4"><img src="https://www.caasco.com/~/media/682D55EDE6FB4C1CA4F1F65EC461A0A9.ashx" width="134" height="45" alt="Loblaw optical logo" class="travel-section__logo-image"></div>
        </div>
        <div class="row">
          <div class="col-sm-4"><img src="https://www.caasco.com/~/media/0860CDD5586B4914AE8F01879905B541.ashx" width="153" height="33" alt="Yogen Fruz logo" class="travel-section__logo-image"></div>
          <div class="col-sm-4"><img src="https://www.caasco.com/~/media/F04B70678F59494B93AB05929A47279F.ashx" width="116" height="58" alt="Sky Zone logo" class="travel-section__logo-image"></div>
          <div class="col-sm-4"><img src="https://www.caasco.com/~/media/92BD6A7D478345B1BD72D1D54951DCF4.ashx" width="183" height="34" alt="1-800-Got-Junk logo" class="travel-section__logo-image"></div>
        </div>
        <div class="row">
          <div class="col-sm-4"><img src="https://www.caasco.com/~/media/FB7D5F27A27241AAB9CF8FF230C6E5B8.ashx" width="122" height="70" alt="Penguin Fresh logo" class="travel-section__logo-image"></div>
          <div class="col-sm-4"><img src="https://www.caasco.com/~/media/84DF408730D243B3A987AE467FB71DB3.ashx" width="154" height="29" alt="Telus logo" class="travel-section__logo-image"></div>
          <div class="col-sm-4"><img src="https://www.caasco.com/~/media/1C18281846EC4CEEB867E5DB9D8E1D6F.ashx" width="154" height="47" alt="Bowl Ontario's Pin logo" class="travel-section__logo-image"></div>
        </div>
      </div>
  </section></div>
  <section class="travel-section--shopping text--center">
      <div class="wrapper">
        <div class="travel-section__icon-container margin-top--add">
          <?xml version="1.0" encoding="utf-8"?>
          <!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="44" height="46" viewBox="0 0 54 56" style="enable-background:new 0 0 54 56;" xml:space="preserve">
          <style type="text/css">
            .shopping-bag-icon-0{fill:#00338d;}
          </style>
          <path class="shopping-bag-icon-0" d="M54,51.3l-4-31.7c-0.3-2.1-2.1-3.7-4.2-3.7H42v-6c0-5.5-4.5-10-10-10c-0.2,0-0.4,0-0.6,0.1c1.7,1.3,3.1,3,4,5
            c1.6,1.1,2.6,2.9,2.6,5v6h-4v-6c0-5.5-4.5-10-10-10c-5.5,0-10,4.5-10,10v6H8.3c-2.2,0-4,1.6-4.2,3.7L0,51.3c-0.2,1.2,0.2,2.4,1,3.3
            C1.9,55.5,3,56,4.3,56h45.5c1.2,0,2.4-0.5,3.2-1.4C53.7,53.7,54.1,52.5,54,51.3z M18,9.8c0-3.3,2.7-6,6-6c3.3,0,6,2.7,6,6V16h-4v-6
            c0-0.9,0.2-1.7,0.6-2.5C25.9,6.8,25,6.4,24,6.4c-0.5,0-1,0.1-1.4,0.3C22.2,7.7,22,8.8,22,10v6h-4V9.8z M40.4,50.3
            c-0.1,1-0.9,1.7-1.8,1.7H5c-0.3,0-0.5-0.1-0.7-0.3c-0.2-0.2-0.2-0.4-0.2-0.7L8,20.5C8,20.2,8.3,20,8.6,20H14v2.6c-1.2,0.7-2,2-2,3.4
            c0,2.2,1.8,4,4,4s4-1.8,4-4c0-1.5-0.8-2.8-2-3.4V20h12v2.6c-1.2,0.7-2,2-2,3.4c0,2.2,1.8,4,4,4s4-1.8,4-4c0-1.5-0.8-2.8-2-3.4V20
            h6.9c0.4,0,0.9,0.2,1.2,0.5c0.3,0.3,0.5,0.8,0.4,1.2L40.4,50.3z"/>
          </svg>

        </div>
        <h2 class="h2--enlarge h2__margin-bottom--small">Shopping.</h2>
        <p class="text--center">We know that retail therapy is one of those feel good activities that can always put a smile on everyone's face. With over 124,000 participating retail locations and services worldwide, you can save on everything from apparel, attraction tickets, hotel stays, dining and more.</p>
        <p class="text--center margin-bottom--add">What's great about shopping with your CAA card is that you earn CAA Dollars&reg; at participating retailers, which you can then redeem to use towards renewing your membership, your next vacation or even more shopping! </p>
        <div class="row">
          <div class="col-sm-4"><img src="https://www.caasco.com/~/media/72FADE2FF11B4450AB18A4BE668388A9.ashx" width="160" height="41" alt="Reitmans logo" class="travel-section__logo-image"></div>
          <div class="col-sm-4"><img src="https://www.caasco.com/~/media/E7CCF4FE8BF244D3AAE9FF8F3F128733.ashx" width="171" height="44" alt="Teleflora logo" class="travel-section__logo-image"></div>
          <div class="col-sm-4"><img src="https://www.caasco.com/~/media/5F7D283D4B14431C87662DFE045359C8.ashx" width="186" height="41"  alt="Toronto Premium Outlets logo" class="travel-section__logo-image"></div>
        </div>
        <div class="row">
          <div class="col-sm-4"><img src="https://www.caasco.com/~/media/C9D7B6FD2BD14C19ADE051A069ED3EB8.ashx" width="181" height="23" alt="Joe Fresh logo" class="travel-section__logo-image"></div>
          <div class="col-sm-4"><img src="https://www.caasco.com/~/media/C480D15AFF774F8C872F45D4E2193047.ashx" width="173" height="25" alt="RW&CO logo" class="travel-section__logo-image"></div>
          <div class="col-sm-4"><img src="https://www.caasco.com/~/media/CF0B30FF5FAF41E689AF948FABF2250B.ashx" width="131" height="55" alt="The Source logo" class="travel-section__logo-image"></div>
        </div>
      </div>
  </section>
</div>
