<div class="slide main-slide slick-initialized slick-slider" role="toolbar">
  <div aria-live="polite" class="slick-list draggable">
    <div class="slick-track" style="opacity: 1;" role="listbox">
      <div class="hero-div atom-bg-grey">
        <div class="slide01 slick-slide" style="background: url(&quot;~/media/A6CC25F839CE4624BA6B07EB07CC7E12.ashx&quot;) center center / cover no-repeat transparent;" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide00">


        <!-- START sitecore banner content -->
          <style type="text/css">
            /* !!! Important: If using this banner on the homepage, remove .main-slide !!! */
            [style*="LM-86-wellness-lp__hero-bg"], .main-slide {height: 410px;}
            [style*="LM-86-wellness-lp__hero-bg"] {
              background-color: #ccc; /*background color when no image on local*/
              width:100%;
            }
            [style*="LM-86-wellness-lp__hero-bg"] .mid .section__cta-container--center-btn {
              margin-top: 0;
            }
            .main-slide [style*="LM-86-wellness-lp__hero-bg"] h1 {
              margin-bottom:11px;
            }

            .main-slide [style*="LM-86-wellness-lp__hero-bg"] p {
              margin-bottom:16px;
              margin-left:auto; /*fix odd left margin on in local*/
            }
            @media only screen and (max-width: 568px) {
              [style*="LM-86-wellness-lp__hero-bg"] .slick-slide {
                height: 410px;
              }
            }
            [style*="LM-86-wellness-lp__hero-bg"] h1, [style*="LM-86-wellness-lp__hero-bg"] p { color:#fff; }
            [style*="LM-86-wellness-lp__hero-bg"] p {
              max-width: 600px;
              text-align: center;
              margin-left:auto;
              margin-right: auto;
              padding-left: 15px;
              padding-right: 15px;
            }
          </style>
          <div class="mid">

            <h1>Health and Wellness Rewards.</h1>
            <p>
              <strong>Your 2018 wellness journey starts now with CAA Rewards<sup>&reg;</sup> &ndash; where deals on travel and wellness products and services will help you not only save, but also look and feel your best all year.</strong>
            </p>
            <!-- <div class="section__cta-container--center-btn">
              <a href="#?utm_source=CAA-ProjectName-homepage&utm_medium=banner&utm_campaign=2017-ProjectName" class="atom-btn-sml" tabindex="0" target="_blank"> <span>Test Now</span></a>
            </div> -->
          </div>

        <!-- END sitecore banner content -->

        </div>
      </div>
    </div>
  </div>
</div>